In [19]:
import pandas as pd
  
# making data frame from csv file
nba = pd.read_csv("Player1.csv")

In [20]:
nba

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire
0,1,SC Ganguly,7/8/1972,Left_Hand,Right-arm medium,India,0
1,2,BB McCullum,9/27/1981,Right_Hand,Right-arm medium,New Zealand,0
2,3,RT Ponting,12/19/1974,Right_Hand,Right-arm medium,Australia,0
3,4,DJ Hussey,7/15/1977,Right_Hand,Right-arm offbreak,Australia,0
4,5,Mohammad Hafeez,10/17/1980,Right_Hand,Right-arm offbreak,Pakistan,0
...,...,...,...,...,...,...,...
518,517,AL Hill,NaN,NaN,NaN,New Zealand,1
519,518,RJ Tucker,NaN,NaN,NaN,Australia,1
520,519,Subroto Das,NaN,NaN,NaN,India,1
521,520,K Srinivasan,NaN,NaN,NaN,India,1
522,521,VK Sharma,NaN,NaN,NaN,India,1

In [3]:
nba["Player_dismissal_Id"].fillna("0", inplace = True)

KeyError: 'Player_dismissal_Id'

In [4]:
nba["Player_dissimal_Id"].fillna("0", inplace = True)

In [5]:
nba

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
0,335987,1,1,1,1,2,1,1,2,14,0,legbyes,1,,,
1,335987,1,1,2,1,2,2,2,1,14,0,,,,,
2,335987,1,1,3,1,2,2,2,1,14,0,wides,1,,,
3,335987,1,1,4,1,2,2,2,1,14,0,,,,,
4,335987,1,1,5,1,2,2,2,1,14,0,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136585,981024,2,20,2,2,11,369,6,434,299,2,,,,,
136586,981024,2,20,3,2,11,369,6,434,299,0,,,434,run out,183
136587,981024,2,20,4,2,11,140,9,369,299,0,legbyes,1,,,
136588,981024,2,20,5,2,11,369,6,140,299,1,,,,,
136589,981024,2,20,6,2,11,140,9,369,299,4,,,,,

In [6]:
nba["Player_dissimal_Id"].replace(to_replace =" ",value ="0")

0           0
1           0
2           0
3           0
4           0
         ...
136585      0
136586    434
136587      0
136588      0
136589      0
Name: Player_dissimal_Id, Length: 136590, dtype: object

In [7]:
nba

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
0,335987,1,1,1,1,2,1,1,2,14,0,legbyes,1,,,
1,335987,1,1,2,1,2,2,2,1,14,0,,,,,
2,335987,1,1,3,1,2,2,2,1,14,0,wides,1,,,
3,335987,1,1,4,1,2,2,2,1,14,0,,,,,
4,335987,1,1,5,1,2,2,2,1,14,0,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136585,981024,2,20,2,2,11,369,6,434,299,2,,,,,
136586,981024,2,20,3,2,11,369,6,434,299,0,,,434,run out,183
136587,981024,2,20,4,2,11,140,9,369,299,0,legbyes,1,,,
136588,981024,2,20,5,2,11,369,6,140,299,1,,,,,
136589,981024,2,20,6,2,11,140,9,369,299,4,,,,,

In [12]:
nba["Player_dissimal_Id"]=nba["Player_dissimal_Id"].replace(to_replace =" ",value ="0")

In [13]:
nba

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
0,335987,1,1,1,1,2,1,1,2,14,0,legbyes,1,0,,
1,335987,1,1,2,1,2,2,2,1,14,0,,,0,,
2,335987,1,1,3,1,2,2,2,1,14,0,wides,1,0,,
3,335987,1,1,4,1,2,2,2,1,14,0,,,0,,
4,335987,1,1,5,1,2,2,2,1,14,0,,,0,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136585,981024,2,20,2,2,11,369,6,434,299,2,,,0,,
136586,981024,2,20,3,2,11,369,6,434,299,0,,,434,run out,183
136587,981024,2,20,4,2,11,140,9,369,299,0,legbyes,1,0,,
136588,981024,2,20,5,2,11,369,6,140,299,1,,,0,,
136589,981024,2,20,6,2,11,140,9,369,299,4,,,0,,

In [14]:
nba["Extra_Runs"]=nba["Extra_Runs"].replace(to_replace =" ",value ="0")

In [15]:
nba

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
0,335987,1,1,1,1,2,1,1,2,14,0,legbyes,1,0,,
1,335987,1,1,2,1,2,2,2,1,14,0,,0,0,,
2,335987,1,1,3,1,2,2,2,1,14,0,wides,1,0,,
3,335987,1,1,4,1,2,2,2,1,14,0,,0,0,,
4,335987,1,1,5,1,2,2,2,1,14,0,,0,0,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136585,981024,2,20,2,2,11,369,6,434,299,2,,0,0,,
136586,981024,2,20,3,2,11,369,6,434,299,0,,0,434,run out,183
136587,981024,2,20,4,2,11,140,9,369,299,0,legbyes,1,0,,
136588,981024,2,20,5,2,11,369,6,140,299,1,,0,0,,
136589,981024,2,20,6,2,11,140,9,369,299,4,,0,0,,

In [16]:
nba["Fielder_Id"]=nba["Fielder_Id"].replace(to_replace =" ",value ="0")

In [17]:
nba

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
0,335987,1,1,1,1,2,1,1,2,14,0,legbyes,1,0,,0
1,335987,1,1,2,1,2,2,2,1,14,0,,0,0,,0
2,335987,1,1,3,1,2,2,2,1,14,0,wides,1,0,,0
3,335987,1,1,4,1,2,2,2,1,14,0,,0,0,,0
4,335987,1,1,5,1,2,2,2,1,14,0,,0,0,,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136585,981024,2,20,2,2,11,369,6,434,299,2,,0,0,,0
136586,981024,2,20,3,2,11,369,6,434,299,0,,0,434,run out,183
136587,981024,2,20,4,2,11,140,9,369,299,0,legbyes,1,0,,0
136588,981024,2,20,5,2,11,369,6,140,299,1,,0,0,,0
136589,981024,2,20,6,2,11,140,9,369,299,4,,0,0,,0

In [18]:
nba.to_csv('Ball1.csv')

In [21]:
nba['DOB1'] = nba['DOB'].dt.strftime('%Y/%m/%d')

AttributeError: Can only use .dt accessor with datetimelike values

In [22]:
nba['DOB'] = pd.to_datetime(nba['DOB'])

In [23]:
nba

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire
0,1,SC Ganguly,1972-07-08,Left_Hand,Right-arm medium,India,0
1,2,BB McCullum,1981-09-27,Right_Hand,Right-arm medium,New Zealand,0
2,3,RT Ponting,1974-12-19,Right_Hand,Right-arm medium,Australia,0
3,4,DJ Hussey,1977-07-15,Right_Hand,Right-arm offbreak,Australia,0
4,5,Mohammad Hafeez,1980-10-17,Right_Hand,Right-arm offbreak,Pakistan,0
...,...,...,...,...,...,...,...
518,517,AL Hill,NaT,NaN,NaN,New Zealand,1
519,518,RJ Tucker,NaT,NaN,NaN,Australia,1
520,519,Subroto Das,NaT,NaN,NaN,India,1
521,520,K Srinivasan,NaT,NaN,NaN,India,1
522,521,VK Sharma,NaT,NaN,NaN,India,1

In [24]:
nba.to_csv('Player2.csv')